$primary-background-color: #34312d;
$secondary-background-color: #34312d;
$primary-main-color: #fbf5f3;
$secondary-main-color: #ffeedb;

$primary-color: #34312d;

$warning-color: #de3c4b;
$success-color: #8daa91;
$alert-color: #e28413;

* {
  overflow: auto;
}